header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1em;
  }
  
h1 {
    background-color: #9b6a6a;
    color: #333;
    padding: 0.5em;
    border-radius:0%
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #productos {
    display: flex;
    flex-wrap:nowrap;
    justify-content:flex-start;
    padding: 2em;
    background-color: #862222;
  }
  
  #carrito {
    background-color: #f2f2f2;
    padding: 1em;
    margin: 1em;
    width: calc(33.33% - 2em);
    text-align: center;
    border-radius: 0.5em;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  
    &:hover {
      transform: translateY(-0.25em);
    }
  }
  